In [2]:
import pandas as pd
df = pd.read_csv('E:/Skills/Data Cleaning and Manipulate/CLEANING(BUSA8000)R/Lecture/Week 3 Lecture Data-20210711/2018_19_GT_Results.csv')

In [5]:
import numpy as np

In [3]:
df.sample(5)

,Timestamp,Entering Grade Level,District,Birth Month,OLSAT Verbal Score,OLSAT Verbal Percentile,NNAT Non Verbal Raw Score,NNAT Non Verbal Percentile,Overall Score,Unnamed: 9,Unnamed: 10,School Assigned,Will you enroll there?,Test Prep?,Unnamed: 14
7,3/27/18,1,28.0,September,27.0,98.0,42.0,99.0,99,NaN,NaN,NaN,Have sib priority at Q300,at home,NaN
15,3/27/2018,K,15.0,January,28.0,99.0,36.0,96.0,98,BSI,NaN,NaN,NaN,NaN,NaN
1,3/27/18,1,2.0,November,25.0,99.0,40.0,99.0,99,"NEST, Anderson, TAG, LL",NaN,NaN,Yes,at home,NaN
35,3/27/18,K,2.0,March,29.0,99.0,43.0,99.0,99,N/A (going to Hunter),NaN,NaN,NaN,Y,NaN
3,3/27/2018,1,2.0,December,27.0,99.0,41.0,99.0,99,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
missing_values_count=df.isnull().sum()
missing_values_count

Timestamp                      0
Entering Grade Level           0
District                       1
Birth Month                    0
OLSAT Verbal Score             1
OLSAT Verbal Percentile        2
NNAT Non Verbal Raw Score      1
NNAT Non Verbal Percentile     1
Overall Score                  0
Unnamed: 9                    11
Unnamed: 10                   46
School Assigned               46
Will you enroll there?        31
Test Prep?                    19
Unnamed: 14                   44
dtype: int64

In [12]:
total_rows=np.product(df.shape)
total_miss=missing_values_count.sum()

(total_miss/total_rows)*100

29.42028985507246

In [14]:
df.dropna()#see no rows

Empty DataFrame
Columns: [Timestamp, Entering Grade Level, District, Birth Month, OLSAT Verbal Score, OLSAT Verbal Percentile, NNAT Non Verbal Raw Score, NNAT Non Verbal Percentile, Overall Score, Unnamed: 9, Unnamed: 10, School Assigned, Will you enroll there?, Test Prep?, Unnamed: 14]
Index: []

In [16]:
df.dropna(axis=1).head(5)

   Timestamp Entering Grade Level Birth Month  Overall Score
0    3/27/18                    1    November             99
1    3/27/18                    1    November             99
2    3/27/18                    1      August             99
3  3/27/2018                    1    December             99
4  3/27/2018                    1        July             99

In [21]:
df.fillna(0).head(5)

,Timestamp,Entering Grade Level,District,Birth Month,OLSAT Verbal Score,OLSAT Verbal Percentile,NNAT Non Verbal Raw Score,NNAT Non Verbal Percentile,Overall Score,Unnamed: 9,Unnamed: 10,School Assigned,Will you enroll there?,Test Prep?,Unnamed: 14
0,3/27/18,1,2.0,November,25.0,99.0,40.0,99.0,99,NEST+M,0.0,0.0,0,No,0
1,3/27/18,1,2.0,November,25.0,99.0,40.0,99.0,99,"NEST, Anderson, TAG, LL",0.0,0.0,Yes,at home,0
2,3/27/18,1,2.0,August,27.0,98.0,42.0,99.0,99,"Anderson, NEST",0.0,0.0,0,No,0
3,3/27/2018,1,2.0,December,27.0,99.0,41.0,99.0,99,0,0.0,0.0,0,0,0
4,3/27/2018,1,2.0,July,28.0,99.0,43.0,99.0,99,NEST,0.0,0.0,0,0,0

In [22]:
df.fillna(method='bfill',axis=0).fillna(0)

,Timestamp,Entering Grade Level,District,Birth Month,OLSAT Verbal Score,OLSAT Verbal Percentile,NNAT Non Verbal Raw Score,NNAT Non Verbal Percentile,Overall Score,Unnamed: 9,Unnamed: 10,School Assigned,Will you enroll there?,Test Prep?,Unnamed: 14
0,3/27/18,1,2.0,November,25.0,99.0,40.0,99.0,99,NEST+M,0.0,0.0,Yes,No,Yes at home with mom
1,3/27/18,1,2.0,November,25.0,99.0,40.0,99.0,99,"NEST, Anderson, TAG, LL",0.0,0.0,Yes,at home,Yes at home with mom
2,3/27/18,1,2.0,August,27.0,98.0,42.0,99.0,99,"Anderson, NEST",0.0,0.0,will update after placements,No,Yes at home with mom
3,3/27/2018,1,2.0,December,27.0,99.0,41.0,99.0,99,NEST,0.0,0.0,will update after placements,Y,Yes at home with mom
4,3/27/2018,1,2.0,July,28.0,99.0,43.0,99.0,99,NEST,0.0,0.0,will update after placements,Y,Yes at home with mom
5,3/27/2018,1,2.0,March,28.0,98.0,45.0,99.0,99,Tag,0.0,0.0,will update after placements,Y,Yes at home with mom
6,3/27/18,1,3.0,January,28.0,98.0,45.0,99.0,99,none,0.0,0.0,will update after placements,Y,Yes at home with mom
7,3/27/18,1,28.0,September,27.0,98.0,42.0,99.0,99,"Q300, NEST+M",0.0,0.0,Have sib priority at Q300,at home,Yes at home with mom
8,3/27/2018,1,30.0,January,30.0,99.0,44.0,99.0,99,"Q300, NEST+M",0.0,0.0,Will you enroll there?,N,Yes at home with mom
9,3/27/2017,2,2.0,August,30.0,99.0,46.0,99.0,99,Anderson?,0.0,0.0,"at LL now, has a sib ent K w/ 99",N,Yes at home with mom
10,3/27/18,K,35.0,September,23.0,98.0,42.0,99.0,99,Brooklyn PS9,0.0,0.0,"Yep, Sister is there",Y,Yes at home with mom
11,3/27/2018,K,30.0,June,29.0,99.0,46.0,99.0,99,"Anderson, Q300, NEST, Mamie Fay",0.0,0.0,(Can you even get in with a 98/no sibling?) - ...,At home with mom :),Yes at home with mom
12,3/27/2018,K,25.0,April,20.0,90.0,43.0,99.0,96,"BSI, 215",0.0,0.0,(Can you even get in with a 98/no sibling?) - ...,At home with mom :),Yes at home with mom
13,3/27/2018,K,21.0,October,26.0,99.0,36.0,99.0,99,"BSI, 215",0.0,0.0,(Can you even get in with a 98/no sibling?) - ...,At home with mom :),Yes at home with mom
14,3/27/2018,K,20.0,June,27.0,99.0,26.0,79.0,94,No idea!,0.0,0.0,(Can you even get in with a 98/no sibling?) - ...,At home with mom :),Yes at home with mom
15,3/27/2018,K,15.0,January,28.0,99.0,36.0,96.0,98,BSI,0.0,0.0,(Can you even get in with a 98/no sibling?) - ...,yes,Yes at home with mom
16,3/27/18,K,13.0,May,25.0,99.0,42.0,99.0,99,NEST+M,0.0,0.0,(Can you even get in with a 98/no sibling?) - ...,yes,Yes at home with mom
17,3/27/2018,K,13.0,August,23.0,94.0,34.0,96.0,98,NEST+M,0.0,0.0,(Can you even get in with a 98/no sibling?) - ...,N,Yes at home with mom
18,3/27/18,K,13.0,May,22.0,94.0,34.0,96.0,95,"Anderson, TAG, Nest",0.0,0.0,Will not enroll if get PS 165/163. Maybe 166 b...,N,Yes at home with mom
19,3/27/18,K,6.0,July,25.0,99.0,42.0,99.0,99,"Anderson, TAG, Nest",0.0,0.0,Will not enroll if get PS 165/163. Maybe 166 b...,Yes,Yes at home with mom
20,3/27/2018,K,3.0,September,24.0,99.0,42.0,99.0,99,"Anderson, NEST+M, 166, TAG, Q300, 163, BSI",0.0,0.0,Will not enroll if get PS 165/163. Maybe 166 b...,Yes,Yes at home with mom
21,3/27/2018,K,3.0,June,20.0,91.0,34.0,97.0,95,Anderson/NEST only,0.0,0.0,Will not enroll if get PS 165/163. Maybe 166 b...,No. We should have!,Yes at home with mom
22,3/27/18,1,2.0,March,26.0,95.0,46.0,99.0,98,anderson,0.0,0.0,"LL sib, sib retook & got 99 too - unsure how w...",Yes,Yes at home with mom
23,Mar-27,K,3.0,February,22.0,94.0,39.0,99.0,94,PS166,0.0,0.0,"LL sib, sib retook & got 99 too - unsure how w...",Yes,Yes at home with mom
24,3/27/2018,K,2.0,August,23.0,98.0,39.0,99.0,99,Lower Lab / Anderson,0.0,0.0,"LL sib, sib retook & got 99 too - unsure how w...",Yes,Yes at home with mom
25,3/27/2018,K,2.0,January,25.0,99.0,45.0,99.0,99,NEST+M,0.0,0.0,Yes,Yes,mom
26,3/27/2018,K,2.0,April,25.0,99.0,38.0,99.0,99,122,0.0,0.0,y,Y,mom
27,Mar-18,1,2.0,Febrauary,25.0,91.0,43.0,99.0,97,122,0.0,0.0,y,Y,mom
28,3/27/18,1,30.0,May,25.0,92.0,44.0,99.0,97,122,0.0,0.0,y,N,mom
29,3/27/2018,2,2.0,June,27.0,94.0,41.0,99.0,97,"Anderson, NEST, TAG",0.0,0.0,maybe,"yes, night before and day of test",mom
30,3/27/18,1,14.0,August,26.0,97.0,36.0,94.0,96,"Anderson, NEST, TAG",0.0,0.0,maybe,"yes, night before and day of test",mom
31,3/27/2018,2,27.0,November,24.0,90.0,44.0,99.0,96,None,0.0,0.0,Missed the sib cut for citywide. Already in Di...,"Yes, at home",mom
32,3/27/2018,2,2.0,september,23.0,88.0,46.0,99.0,96,Not sure,0.0,0.0,Missed the sib cut for citywide. Already in Di...,yes,mom
33,3/28/2018,3,2.0,May,24.0,88.0,43.0,99.0,96,"Anderson, NEST-M, LL, Q300",0.0,0.0,Missed the sib cut for citywide. Already in Di...,Missed the sib cut for citywide. Already in Di...,mom
34,3/27/2018,K,2.0,March,26.0,99.0,47.0,99.0,99,"Anderson, NEST-M, LL, Q300",0.0,0.0,Maybe,Y,mom
35,3/27/18,K,2.0,March,29.0,99.0,43.0,99.0,99,N/A (going to Hunter),0.0,0.0,Maybe,Y,mom
36,3/27/18,1,26.0,September,24.0,93.0,37.0,96.0,95,"PS 188, PS 203",0.0,0.0,Maybe,Prepared 3 days before exam,mom
37,3/27/18,1,26.0,September,24.0,93.0,37.0,96.0,95,"PS 188, PS 203",0.0,0.0,Maybe,Prepared 3 days before exam,mom
38,3/27/18,K,2.0,April,29.0,99.0,37.0,99.0,99,"TAG, lower lab",0.0,0.0,Not sure,Y,mom
39,3/27/18,K,2.0,August,22.0,97.0,37.0,99.0,98,"TAG, lower lab",0.0,0.0,Not sure,at home with mom,mom
40,3/27/18,K,2.0,January,24.0,97.0,44.0,99.0,98,:-(,0.0,0.0,Not sure,Y,mom
41,3/27/18,2,28.0,March,24.0,79.0,44.0,99.0,94,:-(,0.0,0.0,Not sure,Yes - reviewed exams from Testing Mom at home ...,0
42,3/27/2018,K,2.0,December,20.0,96.0,29.0,95.0,96,Not sure.,0.0,0.0,Not sure,0,0
43,3/27/2018,K,2.0,April,18.0,84.0,39.0,99.0,95,"PS33, PS11",0.0,0.0,Not sure,0,0
44,3/27/18,K,2.0,November,15.0,79.0,35.0,99.0,94,"PS33, PS11",0.0,0.0,Not sure,0,0
45,3/27/2018,K,2.0,July,19.0,89.0,24.0,71.0,81,:( maybe next year,0.0,0.0,0,0,0

In [28]:
df.drop(['Timestamp','District'],axis=1)#inplace = true

,Entering Grade Level,Birth Month,OLSAT Verbal Score,OLSAT Verbal Percentile,NNAT Non Verbal Raw Score,NNAT Non Verbal Percentile,Overall Score,Unnamed: 9,Unnamed: 10,School Assigned,Will you enroll there?,Test Prep?,Unnamed: 14
0,1,November,25.0,99.0,40.0,99.0,99,NEST+M,NaN,NaN,NaN,No,NaN
1,1,November,25.0,99.0,40.0,99.0,99,"NEST, Anderson, TAG, LL",NaN,NaN,Yes,at home,NaN
2,1,August,27.0,98.0,42.0,99.0,99,"Anderson, NEST",NaN,NaN,NaN,No,NaN
3,1,December,27.0,99.0,41.0,99.0,99,NaN,NaN,NaN,NaN,NaN,NaN
4,1,July,28.0,99.0,43.0,99.0,99,NEST,NaN,NaN,NaN,NaN,NaN
5,1,March,NaN,NaN,NaN,99.0,99,Tag,NaN,NaN,NaN,NaN,NaN
6,1,January,28.0,98.0,45.0,99.0,99,none,NaN,NaN,will update after placements,Y,NaN
7,1,September,27.0,98.0,42.0,99.0,99,NaN,NaN,NaN,Have sib priority at Q300,at home,NaN
8,1,January,30.0,99.0,44.0,99.0,99,"Q300, NEST+M",NaN,NaN,Will you enroll there?,NaN,NaN
9,2,August,30.0,99.0,46.0,99.0,99,Anderson?,NaN,NaN,"at LL now, has a sib ent K w/ 99",N,NaN
10,K,September,23.0,98.0,42.0,99.0,99,Brooklyn PS9,NaN,NaN,"Yep, Sister is there",Y,NaN
11,K,June,29.0,99.0,46.0,99.0,99,"Anderson, Q300, NEST, Mamie Fay",NaN,NaN,NaN,NaN,NaN
12,K,April,20.0,90.0,43.0,99.0,96,NaN,NaN,NaN,NaN,NaN,NaN
13,K,October,26.0,99.0,36.0,99.0,99,"BSI, 215",NaN,NaN,NaN,NaN,NaN
14,K,June,27.0,99.0,26.0,79.0,94,No idea!,NaN,NaN,NaN,At home with mom :),NaN
15,K,January,28.0,99.0,36.0,96.0,98,BSI,NaN,NaN,NaN,NaN,NaN
16,K,May,25.0,99.0,42.0,99.0,99,NEST+M,NaN,NaN,NaN,yes,NaN
17,K,August,23.0,NaN,34.0,NaN,98,NEST+M,NaN,NaN,(Can you even get in with a 98/no sibling?) - ...,N,NaN
18,K,May,22.0,94.0,34.0,96.0,95,NaN,NaN,NaN,NaN,N,NaN
19,K,July,25.0,99.0,42.0,99.0,99,"Anderson, TAG, Nest",NaN,NaN,NaN,NaN,NaN
20,K,September,24.0,99.0,42.0,99.0,99,"Anderson, NEST+M, 166, TAG, Q300, 163, BSI",NaN,NaN,NaN,Yes,NaN
21,K,June,20.0,91.0,34.0,97.0,95,Anderson/NEST only,NaN,NaN,Will not enroll if get PS 165/163. Maybe 166 b...,No. We should have!,NaN
22,1,March,26.0,95.0,46.0,99.0,98,anderson,NaN,NaN,NaN,NaN,NaN
23,K,February,22.0,94.0,39.0,99.0,94,PS166,NaN,NaN,NaN,NaN,NaN
24,K,August,23.0,98.0,39.0,99.0,99,Lower Lab / Anderson,NaN,NaN,"LL sib, sib retook & got 99 too - unsure how w...",NaN,Yes at home with mom
25,K,January,25.0,99.0,45.0,99.0,99,NEST+M,NaN,NaN,Yes,Yes,NaN
26,K,April,25.0,99.0,38.0,99.0,99,NaN,NaN,NaN,NaN,Y,NaN
27,1,Febrauary,25.0,91.0,43.0,99.0,97,NaN,NaN,NaN,NaN,Y,NaN
28,1,May,25.0,92.0,44.0,99.0,97,122,NaN,NaN,y,N,NaN
29,2,June,27.0,94.0,41.0,99.0,97,NaN,NaN,NaN,NaN,NaN,NaN
30,1,August,26.0,97.0,36.0,94.0,96,"Anderson, NEST, TAG",NaN,NaN,maybe,"yes, night before and day of test",NaN
31,2,November,24.0,90.0,44.0,99.0,96,None,NaN,NaN,NaN,"Yes, at home",NaN
32,2,september,23.0,88.0,46.0,99.0,96,Not sure,NaN,NaN,NaN,yes,NaN
33,3,May,24.0,88.0,43.0,99.0,96,NaN,NaN,NaN,Missed the sib cut for citywide. Already in Di...,Missed the sib cut for citywide. Already in Di...,NaN
34,K,March,26.0,99.0,47.0,99.0,99,"Anderson, NEST-M, LL, Q300",NaN,NaN,NaN,NaN,NaN
35,K,March,29.0,99.0,43.0,99.0,99,N/A (going to Hunter),NaN,NaN,NaN,Y,NaN
36,1,September,24.0,93.0,37.0,96.0,95,"PS 188, PS 203",NaN,NaN,NaN,NaN,NaN
37,1,September,24.0,93.0,37.0,96.0,95,"PS 188, PS 203",NaN,NaN,Maybe,Prepared 3 days before exam,NaN
38,K,April,29.0,99.0,37.0,99.0,99,NaN,NaN,NaN,NaN,Y,NaN
39,K,August,22.0,97.0,37.0,99.0,98,"TAG, lower lab",NaN,NaN,NaN,at home with mom,NaN
40,K,January,24.0,97.0,44.0,99.0,98,NaN,NaN,NaN,NaN,Y,mom
41,2,March,24.0,79.0,44.0,99.0,94,:-(,NaN,NaN,NaN,Yes - reviewed exams from Testing Mom at home ...,NaN
42,K,December,20.0,96.0,29.0,95.0,96,Not sure.,NaN,NaN,NaN,NaN,NaN
43,K,April,18.0,84.0,39.0,99.0,95,NaN,NaN,NaN,NaN,NaN,NaN
44,K,November,15.0,79.0,35.0,99.0,94,"PS33, PS11",NaN,NaN,Not sure,NaN,NaN
45,K,July,19.0,89.0,24.0,71.0,81,:( maybe next year,NaN,NaN,NaN,NaN,NaN

In [29]:
def percen (x):
    if x<=100 and x>=98:
        return 'A'
    elif x>95 and x<98:
        return 'B'
    else:
        return 'C'

In [30]:
df['percentile']=df['OLSAT Verbal Percentile'].apply(percen)

In [31]:
df['percentile']

0     A
1     A
2     A
3     A
4     A
5     C
6     A
7     A
8     A
9     A
10    A
11    A
12    C
13    A
14    A
15    A
16    A
17    C
18    C
19    A
20    A
21    C
22    C
23    C
24    A
25    A
26    A
27    C
28    C
29    C
30    B
31    C
32    C
33    C
34    A
35    A
36    C
37    C
38    A
39    B
40    B
41    C
42    B
43    C
44    C
45    C
Name: percentile, dtype: object

In [48]:
df['percentile']=df['OLSAT Verbal Percentile'].apply(lambda x: 'A' if (x<=100 and x >= 98) else ('B' if x > 95 and x<98 else 'c'))

In [51]:
df['percentile'].head(6)

0    A
1    A
2    A
3    A
4    A
5    c
Name: percentile, dtype: object

In [54]:
df['Timestamp'].unique()

array(['3/27/18', '3/27/2018', '3/27/2017', 'Mar-27', 'Mar-18',
       '3/28/2018'], dtype=object)

In [56]:
df['Timestamp']=df['Timestamp'].replace({'3/27/18':'3/27/2018', 'Mar-27':'3/27/2018','Mar-18':'18/3/2018','3/27/2017':'3/27/2018'})
df['Timestamp'].unique()

array(['3/27/2018', '18/3/2018', '3/28/2018'], dtype=object)

In [57]:
df=df.rename({'Timestamp':'Time'},axis='columns')
df

,Time,Entering Grade Level,District,Birth Month,OLSAT Verbal Score,OLSAT Verbal Percentile,NNAT Non Verbal Percentile,Overall Score,School Assigned,Will you enroll there?,Test Prep?,percentile
0,3/27/2018,1,2.0,November,25.0,99.0,99.0,99,NaN,NaN,No,A
1,3/27/2018,1,2.0,November,25.0,99.0,99.0,99,NaN,Yes,at home,A
2,3/27/2018,1,2.0,August,27.0,98.0,99.0,99,NaN,NaN,No,A
3,3/27/2018,1,2.0,December,27.0,99.0,99.0,99,NaN,NaN,NaN,A
4,3/27/2018,1,2.0,July,28.0,99.0,99.0,99,NaN,NaN,NaN,A
5,3/27/2018,1,2.0,March,NaN,NaN,99.0,99,NaN,NaN,NaN,c
6,3/27/2018,1,3.0,January,28.0,98.0,99.0,99,NaN,will update after placements,Y,A
7,3/27/2018,1,28.0,September,27.0,98.0,99.0,99,NaN,Have sib priority at Q300,at home,A
8,3/27/2018,1,30.0,January,30.0,99.0,99.0,99,NaN,Will you enroll there?,NaN,A
9,3/27/2018,2,2.0,August,30.0,99.0,99.0,99,NaN,"at LL now, has a sib ent K w/ 99",N,A
10,3/27/2018,K,35.0,September,23.0,98.0,99.0,99,NaN,"Yep, Sister is there",Y,A
11,3/27/2018,K,30.0,June,29.0,99.0,99.0,99,NaN,NaN,NaN,A
12,3/27/2018,K,25.0,April,20.0,90.0,99.0,96,NaN,NaN,NaN,c
13,3/27/2018,K,21.0,October,26.0,99.0,99.0,99,NaN,NaN,NaN,A
14,3/27/2018,K,20.0,June,27.0,99.0,79.0,94,NaN,NaN,At home with mom :),A
15,3/27/2018,K,15.0,January,28.0,99.0,96.0,98,NaN,NaN,NaN,A
16,3/27/2018,K,13.0,May,25.0,99.0,99.0,99,NaN,NaN,yes,A
17,3/27/2018,K,13.0,August,23.0,NaN,NaN,98,NaN,(Can you even get in with a 98/no sibling?) - ...,N,c
18,3/27/2018,K,13.0,May,22.0,94.0,96.0,95,NaN,NaN,N,c
19,3/27/2018,K,6.0,July,25.0,99.0,99.0,99,NaN,NaN,NaN,A
20,3/27/2018,K,3.0,September,24.0,99.0,99.0,99,NaN,NaN,Yes,A
21,3/27/2018,K,3.0,June,20.0,91.0,97.0,95,NaN,Will not enroll if get PS 165/163. Maybe 166 b...,No. We should have!,c
22,3/27/2018,1,2.0,March,26.0,95.0,99.0,98,NaN,NaN,NaN,c
23,3/27/2018,K,3.0,February,22.0,94.0,99.0,94,NaN,NaN,NaN,c
24,3/27/2018,K,2.0,August,23.0,98.0,99.0,99,NaN,"LL sib, sib retook & got 99 too - unsure how w...",NaN,A
25,3/27/2018,K,2.0,January,25.0,99.0,99.0,99,NaN,Yes,Yes,A
26,3/27/2018,K,2.0,April,25.0,99.0,99.0,99,NaN,NaN,Y,A
27,18/3/2018,1,2.0,Febrauary,25.0,91.0,99.0,97,NaN,NaN,Y,c
28,3/27/2018,1,30.0,May,25.0,92.0,99.0,97,NaN,y,N,c
29,3/27/2018,2,2.0,June,27.0,94.0,99.0,97,NaN,NaN,NaN,c
30,3/27/2018,1,14.0,August,26.0,97.0,94.0,96,NaN,maybe,"yes, night before and day of test",B
31,3/27/2018,2,27.0,November,24.0,90.0,99.0,96,NaN,NaN,"Yes, at home",c
32,3/27/2018,2,NaN,september,23.0,88.0,99.0,96,NaN,NaN,yes,c
33,3/28/2018,3,2.0,May,24.0,88.0,99.0,96,NaN,Missed the sib cut for citywide. Already in Di...,Missed the sib cut for citywide. Already in Di...,c
34,3/27/2018,K,2.0,March,26.0,99.0,99.0,99,NaN,NaN,NaN,A
35,3/27/2018,K,2.0,March,29.0,99.0,99.0,99,NaN,NaN,Y,A
36,3/27/2018,1,26.0,September,24.0,93.0,96.0,95,NaN,NaN,NaN,c
37,3/27/2018,1,26.0,September,24.0,93.0,96.0,95,NaN,Maybe,Prepared 3 days before exam,c
38,3/27/2018,K,2.0,April,29.0,99.0,99.0,99,NaN,NaN,Y,A
39,3/27/2018,K,2.0,August,22.0,97.0,99.0,98,NaN,NaN,at home with mom,B
40,3/27/2018,K,2.0,January,24.0,97.0,99.0,98,NaN,NaN,Y,B
41,3/27/2018,2,28.0,March,24.0,79.0,99.0,94,NaN,NaN,Yes - reviewed exams from Testing Mom at home ...,c
42,3/27/2018,K,2.0,December,20.0,96.0,95.0,96,NaN,NaN,NaN,B
43,3/27/2018,K,2.0,April,18.0,84.0,99.0,95,NaN,NaN,NaN,c
44,3/27/2018,K,2.0,November,15.0,79.0,99.0,94,NaN,Not sure,NaN,c
45,3/27/2018,K,2.0,July,19.0,89.0,71.0,81,NaN,NaN,NaN,c

In [61]:
df_clean=df['OLSAT Verbal Score'].dropna()

In [66]:
df['OLSAT Verbal Score']=df['OLSAT Verbal Score'].fillna(df['OLSAT Verbal Score'].mean())
df['OLSAT Verbal Score']

0     25.000000
1     25.000000
2     27.000000
3     27.000000
4     28.000000
5     24.622222
6     28.000000
7     27.000000
8     30.000000
9     30.000000
10    23.000000
11    29.000000
12    20.000000
13    26.000000
14    27.000000
15    28.000000
16    25.000000
17    23.000000
18    22.000000
19    25.000000
20    24.000000
21    20.000000
22    26.000000
23    22.000000
24    23.000000
25    25.000000
26    25.000000
27    25.000000
28    25.000000
29    27.000000
30    26.000000
31    24.000000
32    23.000000
33    24.000000
34    26.000000
35    29.000000
36    24.000000
37    24.000000
38    29.000000
39    22.000000
40    24.000000
41    24.000000
42    20.000000
43    18.000000
44    15.000000
45    19.000000
Name: OLSAT Verbal Score, dtype: float64

In [67]:
df['Birth Month'].unique()

array(['November', 'August', 'December', 'July', 'March', 'January',
       'September', 'June', 'April', 'October ', 'May', 'February',
       'Febrauary', 'september'], dtype=object)

In [70]:
df['Birth Month']=df['Birth Month'].replace({'Febrauary':'February','september':'September'})
df['Birth Month'].unique()

array(['November', 'August', 'December', 'July', 'March', 'January',
       'September', 'June', 'April', 'October ', 'May', 'February'],
      dtype=object)

In [76]:
df['Entering Grade Level']=df['Entering Grade Level'].replace({'K':0})
type(df['Entering Grade Level'][0])

str

In [86]:
df['Entering Grade Level']=pd.to_numeric(df['Entering Grade Level'])
type(df['Entering Grade Level'][0])

numpy.int64

In [87]:
df['Entry Grade']=df['Entering Grade Level'].astype('category')
type(df['Entry Grade'][0])

numpy.int64

In [32]:
df.dropna(axis=1)

    Timestamp Entering Grade Level Birth Month  Overall Score percentile
0     3/27/18                    1    November             99          A
1     3/27/18                    1    November             99          A
2     3/27/18                    1      August             99          A
3   3/27/2018                    1    December             99          A
4   3/27/2018                    1        July             99          A
5   3/27/2018                    1       March             99          C
6     3/27/18                    1     January             99          A
7     3/27/18                    1   September             99          A
8   3/27/2018                    1     January             99          A
9   3/27/2017                    2      August             99          A
10    3/27/18                    K   September             99          A
11  3/27/2018                    K        June             99          A
12  3/27/2018                    K       April             96          C
13  3/27/2018                    K    October              99          A
14  3/27/2018                    K        June             94          A
15  3/27/2018                    K     January             98          A
16    3/27/18                    K         May             99          A
17  3/27/2018                    K      August             98          C
18    3/27/18                    K         May             95          C
19    3/27/18                    K        July             99          A
20  3/27/2018                    K   September             99          A
21  3/27/2018                    K        June             95          C
22    3/27/18                    1       March             98          C
23     Mar-27                    K    February             94          C
24  3/27/2018                    K      August             99          A
25  3/27/2018                    K     January             99          A
26  3/27/2018                    K       April             99          A
27     Mar-18                    1   Febrauary             97          C
28    3/27/18                    1         May             97          C
29  3/27/2018                    2        June             97          C
30    3/27/18                    1      August             96          B
31  3/27/2018                    2    November             96          C
32  3/27/2018                    2   september             96          C
33  3/28/2018                    3         May             96          C
34  3/27/2018                    K       March             99          A
35    3/27/18                    K       March             99          A
36    3/27/18                    1   September             95          C
37    3/27/18                    1   September             95          C
38    3/27/18                    K       April             99          A
39    3/27/18                    K      August             98          B
40    3/27/18                    K     January             98          B
41    3/27/18                    2       March             94          C
42  3/27/2018                    K    December             96          B
43  3/27/2018                    K       April             95          C
44    3/27/18                    K    November             94          C
45  3/27/2018                    K        July             81          C